{# Environment provided properties #}
{% set password = properties["userPassword"] %}
{% set username = properties["userName"] %}
{% set zone = properties["zone"] %}
{% set sshpubkey = properties["sshPubKey"] %}

resources:
- name: good-vm
  type: vm-type.jinja
  properties:
    password: {{ password }}
    username: {{ username }}
    sshpubkey: {{ sshpubkey }}
    zone: {{ zone }}

outputs:
- name: InstanceDns
  value: 35.238.252.133
